@import 'tailwindcss';

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
}

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
